html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/
@media (min-width: 768px){
    .dos-columnas {
        display: flex; /* Activamos flexbox */
        grid-template-columns: 50% 50%; /* Definimos dos columnas iguales */
        gap: 1rem; /* Espacio entre columnas */
    }
    .entrada-blog {
        /*width: 100%; /* Cada entrada ocupa el 100% del contenedor flex */
        flex: 0 0 calc(50% - 0.5rem); /* Cada entrada ocupa el 50% del contenedor flex menos la mitad del gap */
    }
}